In [ ]:
'''Introduction to Pandas

1) Used for data analysis
2) Extremely powerful version of Excel
3) Has lot more features than excel
'''

'Introduction to Pandas\n\n1) Used for data analysis\n2) Extremely powerful version of Excel\n3) Has lot more features than excel\n'

In [ ]:
'''Topics

1) Series
2) DataFrames
3) Missing Data
4) Group By
5) Operations 
6) Data Input and Ouput
'''

'Topics\n\n1) Series\n2) DataFrames\n3) Missing Data\n4) Group By\n5) Operations \n6) Data Input and Ouput\n'

In [ ]:
#Series

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
labels = ['a','b','c']
my_list = [10,20,30]#list
arr = np.array([10,20,30])#array
d = {'a':10,'b':20,'c':30}#dict

In [ ]:
#Concert list to series

In [ ]:
pd.Series(data = my_list)

0    10
1    20
2    30
dtype: int64

In [ ]:
pd.Series(data = my_list, index=labels) #named index

a    10
b    20
c    30
dtype: int64

In [ ]:
pd.Series(my_list, labels) #named index

a    10
b    20
c    30
dtype: int64

In [ ]:
pd.Series(my_list, labels) #named index

a    10
b    20
c    30
dtype: int64

In [ ]:
#Concert Numpy Arrays  into series

In [ ]:
arr

array([10, 20, 30])

In [ ]:
pd.Series(arr)

0    10
1    20
2    30
dtype: int64

In [ ]:
x = pd.Series(arr, labels)

In [ ]:
x

a    10
b    20
c    30
dtype: int64

In [ ]:
#Convert Dict into Series

In [ ]:
d

{'a': 10, 'b': 20, 'c': 30}

In [ ]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [ ]:
#Data in Series

In [ ]:
pd.Series(labels)

0    a
1    b
2    c
dtype: object

In [ ]:
# Use index in Series

In [ ]:
salesQ1 = pd.Series(data = [250,450, 200, 150], index = ['USA', 'China','India', 'Brazil'])

In [ ]:
salesQ1

USA       250
China     450
India     200
Brazil    150
dtype: int64

In [ ]:
salesQ2 = pd.Series(data = [260,500,210,100], index = ['USA', 'China','India', 'Japan'])

In [ ]:
salesQ2

USA      260
China    500
India    210
Japan    100
dtype: int64

In [ ]:
salesQ1['USA']

250

In [ ]:
salesQ1[0]

250

In [ ]:
salesQ1[3]

150

In [ ]:
salesQ1['Brazil']

150

In [ ]:
salesQ1['Brazil']

150

In [ ]:
salesQ1 + salesQ2

Brazil      NaN
China     950.0
India     410.0
Japan       NaN
USA       510.0
dtype: float64

In [ ]:
salesQ1

USA       250
China     450
India     200
Brazil    150
dtype: int64

In [ ]:
salesQ2

USA      260
China    500
India    210
Japan    100
dtype: int64

In [ ]:
#DataFrame = Is collection of Series objects that share the same index

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
columns = ['W','X','Y','Z'] #four columns
index = ['A','B','C','D', 'E'] #5 rows

In [ ]:
np.random.seed(42)
data = np.random.randint(-100,100,(5,4))

In [ ]:
data

array([[  2,  79,  -8, -86],
       [  6, -29,  88, -80],
       [  2,  21, -26, -13],
       [ 16,  -1,   3,  51],
       [ 30,  49, -48, -99]])

In [ ]:
df = pd.DataFrame(data, index, columns)

In [ ]:
type(df)

pandas.core.frame.DataFrame

In [ ]:
type(df['W'])

pandas.core.series.Series

In [ ]:
x= df['W']

In [ ]:
x[['A','B']]

A    2
B    6
Name: W, dtype: int64

In [ ]:
x[['A','B','C']]

A    2
B    6
C    2
Name: W, dtype: int64

In [ ]:
df

    W   X   Y   Z
A   2  79  -8 -86
B   6 -29  88 -80
C   2  21 -26 -13
D  16  -1   3  51
E  30  49 -48 -99

In [ ]:
# Selections and Indexing

In [ ]:
df['W']

A     2
B     6
C     2
D    16
E    30
Name: W, dtype: int64

In [ ]:
df[['W','Z']]

    W   Z
A   2 -86
B   6 -80
C   2 -13
D  16  51
E  30 -99

In [ ]:
df['n'] = df['W'] + df['Z']  #adding the column

In [ ]:
df

    W   X   Y   Z   n
A   2  79  -8 -86 -84
B   6 -29  88 -80 -74
C   2  21 -26 -13 -11
D  16  -1   3  51  67
E  30  49 -48 -99 -69

In [ ]:
df = df.drop('n',axis=1)

In [ ]:
df

    W   X   Y   Z
A   2  79  -8 -86
B   6 -29  88 -80
C   2  21 -26 -13
D  16  -1   3  51
E  30  49 -48 -99

In [ ]:
df.loc['A']

W     2
X    79
Y    -8
Z   -86
Name: A, dtype: int64

In [ ]:
df.loc[['A','B', 'C']]

   W   X   Y   Z
A  2  79  -8 -86
B  6 -29  88 -80
C  2  21 -26 -13

In [ ]:
df.iloc[2]

W     2
X    21
Y   -26
Z   -13
Name: C, dtype: int64

In [ ]:
df.iloc[0:4]

    W   X   Y   Z
A   2  79  -8 -86
B   6 -29  88 -80
C   2  21 -26 -13
D  16  -1   3  51

In [ ]:
#Remove row by name

In [ ]:
df.drop('C', axis = 0)

    W   X   Y   Z
A   2  79  -8 -86
B   6 -29  88 -80
D  16  -1   3  51
E  30  49 -48 -99

In [ ]:
df

    W   X   Y   Z
A   2  79  -8 -86
B   6 -29  88 -80
C   2  21 -26 -13
D  16  -1   3  51
E  30  49 -48 -99

In [ ]:
df.loc[['A','C'], ['W','Y']] #df[[row names], [column names]]

   W   Y
A  2  -8
C  2 -26

In [ ]:
df.iloc[[0,2], [0,2]]

   W   Y
A  2  -8
C  2 -26

In [ ]:
#Conditional Selections

In [ ]:
df

    W   X   Y   Z
A   2  79  -8 -86
B   6 -29  88 -80
C   2  21 -26 -13
D  16  -1   3  51
E  30  49 -48 -99

In [ ]:
df>0

      W      X      Y      Z
A  True   True  False  False
B  True  False   True  False
C  True   True  False  False
D  True  False   True   True
E  True   True  False  False

In [ ]:
df[df>0]

    W     X     Y     Z
A   2  79.0   NaN   NaN
B   6   NaN  88.0   NaN
C   2  21.0   NaN   NaN
D  16   NaN   3.0  51.0
E  30  49.0   NaN   NaN

In [ ]:
df['X']>0

A     True
B    False
C     True
D    False
E     True
Name: X, dtype: bool

In [ ]:
df[df['X']>0]

    W   X   Y   Z
A   2  79  -8 -86
C   2  21 -26 -13
E  30  49 -48 -99

In [ ]:
df[df['X']>0][['Y','Z']]

    Y   Z
A  -8 -86
C -26 -13
E -48 -99

In [ ]:
df[df['W']>0]

    W   X   Y   Z
A   2  79  -8 -86
B   6 -29  88 -80
C   2  21 -26 -13
D  16  -1   3  51
E  30  49 -48 -99

In [ ]:
df[df['Y']>1]

    W   X   Y   Z
B   6 -29  88 -80
D  16  -1   3  51

In [ ]:
df[(df['W']>0) |  (df['Y']>1)]

    W   X   Y   Z
A   2  79  -8 -86
B   6 -29  88 -80
C   2  21 -26 -13
D  16  -1   3  51
E  30  49 -48 -99

In [ ]:
df[(df['W']>0) &  (df['Y']>1)]

    W   X   Y   Z
B   6 -29  88 -80
D  16  -1   3  51

In [ ]:
df

    W   X   Y   Z
A   2  79  -8 -86
B   6 -29  88 -80
C   2  21 -26 -13
D  16  -1   3  51
E  30  49 -48 -99

In [ ]:
columns1 = ['W','X','W','Z'] #four columns
index1 = ['A','B','C','D', 'E'] #5 rows

In [ ]:
df1 = pd.DataFrame(data, index1, columns1)

In [ ]:
df1.head()

    W   X   W   Z
A   2  79  -8 -86
B   6 -29  88 -80
C   2  21 -26 -13
D  16  -1   3  51
E  30  49 -48 -99

In [ ]:
df1[(df1['W']>0) |  (df1['W']>1)]

ValueError: ignored

In [ ]:
df1['W']

    W   W
A   2  -8
B   6  88
C   2 -26
D  16   3
E  30 -48

In [ ]:
df

    W   X   Y   Z
A   2  79  -8 -86
B   6 -29  88 -80
C   2  21 -26 -13
D  16  -1   3  51
E  30  49 -48 -99

In [ ]:
df1 = df.reset_index()

In [ ]:
df1['index']

0    A
1    B
2    C
3    D
4    E
Name: index, dtype: object

In [ ]:
df1

  index   W   X   Y   Z
0     A   2  79  -8 -86
1     B   6 -29  88 -80
2     C   2  21 -26 -13
3     D  16  -1   3  51
4     E  30  49 -48 -99

In [ ]:
newind = ['F','G','H','I','J']

In [ ]:
df['newI'] = newind

In [ ]:
df

    W   X   Y   Z newI
A   2  79  -8 -86    F
B   6 -29  88 -80    G
C   2  21 -26 -13    H
D  16  -1   3  51    I
E  30  49 -48 -99    J

In [ ]:
df.set_index('newI')

       W   X   Y   Z
newI
F      2  79  -8 -86
G      6 -29  88 -80
H      2  21 -26 -13
I     16  -1   3  51
J     30  49 -48 -99

In [ ]:
df

    W   X   Y   Z newI
A   2  79  -8 -86    F
B   6 -29  88 -80    G
C   2  21 -26 -13    H
D  16  -1   3  51    I
E  30  49 -48 -99    J

In [ ]:
df.describe()

              W          X          Y          Z
count   5.00000   5.000000   5.000000   5.000000
mean   11.20000  23.800000   1.800000 -45.400000
std    11.96662  42.109381  51.915316  63.366395
min     2.00000 -29.000000 -48.000000 -99.000000
25%     2.00000  -1.000000 -26.000000 -86.000000
50%     6.00000  21.000000  -8.000000 -80.000000
75%    16.00000  49.000000   3.000000 -13.000000
max    30.00000  79.000000  88.000000  51.000000

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, A to E
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   W       5 non-null      int64
 1   X       5 non-null      int64
 2   Y       5 non-null      int64
 3   Z       5 non-null      int64
 4   newI    5 non-null      object
dtypes: int64(4), object(1)
memory usage: 400.0+ bytes

Missing Data

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.DataFrame({'A':[1,2,np.nan,4],
                  'B':[5,np.nan,np.nan,8],
                  'C':[10,20,30,40]})

In [ ]:
df

     A    B   C
0  1.0  5.0  10
1  2.0  NaN  20
2  NaN  NaN  30
3  4.0  8.0  40

In [ ]:
#Keep the missing data

In [ ]:
df

     A    B   C
0  1.0  5.0  10
1  2.0  NaN  20
2  NaN  NaN  30
3  4.0  8.0  40

In [ ]:
#Removing the missing data

In [ ]:
df.dropna()

     A    B   C
0  1.0  5.0  10
3  4.0  8.0  40

In [ ]:
df.dropna(axis = 1)

    C
0  10
1  20
2  30
3  40

In [ ]:
#if you have lot of missing data in a column then you drop the whole column
#if you have very tiny amount of missing data in a column then you drop those rows

In [ ]:
#Threshold

In [ ]:
df.dropna(thresh = 2) #thresh means - that many non missing values

     A    B   C
0  1.0  5.0  10
1  2.0  NaN  20
3  4.0  8.0  40

In [ ]:
df.dropna(thresh = 4, axis = 1) #thresh means - that many non missing values

    C
0  10
1  20
2  30
3  40

In [ ]:
#Filling in missing data

In [ ]:
df

     A    B   C
0  1.0  5.0  10
1  2.0  NaN  20
2  NaN  NaN  30
3  4.0  8.0  40

In [ ]:
df1 = df.fillna(value = 'fill na')

In [ ]:
df1

         A        B   C
0        1        5  10
1        2  fill na  20
2  fill na  fill na  30
3        4        8  40

In [ ]:
df1

0    1.000000
1    2.000000
2    2.333333
3    4.000000
Name: A, dtype: float64

In [ ]:
df['A'].fillna(df['A'].mean())

0    1.000000
1    2.000000
2    2.333333
3    4.000000
Name: A, dtype: float64

In [ ]:
df

     A    B   C
0  1.0  5.0  10
1  2.0  NaN  20
2  NaN  NaN  30
3  4.0  8.0  40

In [ ]:
df.mean()

A     2.333333
B     6.500000
C    25.000000
dtype: float64

In [ ]:
df.fillna(df.max())

     A    B   C
0  1.0  5.0  10
1  2.0  8.0  20
2  4.0  8.0  30
3  4.0  8.0  40

In [ ]:
df

     A    B   C
0  1.0  5.0  10
1  2.0  NaN  20
2  NaN  NaN  30
3  4.0  8.0  40

In [ ]:
#If you have 20% or more missing values you have to fill it

Group By

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_excel('Universities.xlsx')

In [ ]:
df.head()

                                 Sector  ... Geography
0            Private for-profit, 2-year  ...    Nevada
1  Private for-profit, less-than 2-year  ...    Nevada
2  Private for-profit, less-than 2-year  ...    Nevada
3  Private for-profit, less-than 2-year  ...    Nevada
4               Public, 4-year or above  ...    Nevada

[5 rows x 5 columns]

In [ ]:
#Group is used to group rows based off the categorical column

In [ ]:
'''Two steps to impliment Group By

1) Choose a categorical column to group by
2) Choose an aggregation function'''

'Two steps to impliment Group By\n\n1) Choose a categorical column to group by\n2) Choose an aggregation function'

In [ ]:
df.groupby('Year').mean()

      Completions
Year
2012   535.078947
2013   526.150000
2014   588.809524
2015   597.250000
2016   609.860465

In [ ]:
df1= df.groupby(['Year','Sector']).mean()

In [ ]:
df1

                                              Completions
Year Sector
2012 Private for-profit, 2-year                204.800000
     Private for-profit, 4-year or above       158.000000
     Private for-profit, less-than 2-year      189.571429
     Private not-for-profit, 2-year            332.500000
     Private not-for-profit, 4-year or above   353.000000
     Public, 2-year                           1170.000000
     Public, 4-year or above                  2068.000000
2013 Private for-profit, 2-year                190.812500
     Private for-profit, 4-year or above       155.000000
     Private for-profit, less-than 2-year      183.000000
     Private not-for-profit, 2-year            235.500000
     Private not-for-profit, 4-year or above   338.666667
     Public, 2-year                           1633.000000
     Public, 4-year or above                  2136.166667
2014 Private for-profit, 2-year                184.812500
     Private for-profit, 4-year or above       251.000000
     Private for-profit, less-than 2-year      166.000000
     Private not-for-profit, 2-year            224.500000
     Private not-for-profit, 4-year or above   347.333333
     Public, 2-year                           2286.000000
     Public, 4-year or above                  2527.000000
2015 Private for-profit, 2-year                205.000000
     Private for-profit, 4-year or above       163.250000
     Private for-profit, less-than 2-year      203.625000
     Private not-for-profit, 2-year            212.500000
     Private not-for-profit, 4-year or above   409.333333
     Public, 2-year                           2355.000000
     Public, 4-year or above                  2676.000000
2016 Private for-profit, 2-year                205.375000
     Private for-profit, 4-year or above       124.666667
     Private for-profit, less-than 2-year      194.000000
     Private not-for-profit, 2-year            161.000000
     Private not-for-profit, 4-year or above   302.000000
     Public, 2-year                           2431.000000
     Public, 4-year or above                  2779.500000

In [ ]:
df.groupby('Year').describe().transpose()

Year                      2012         2013  ...         2015         2016
Completions count    38.000000    40.000000  ...    44.000000    43.000000
            mean    535.078947   526.150000  ...   597.250000   609.860465
            std    1036.433239  1040.474782  ...  1183.371791  1235.952796
            min      13.000000     0.000000  ...     0.000000     0.000000
            25%     114.250000    98.500000  ...    87.750000    90.000000
            50%     229.500000   189.000000  ...   191.000000   208.000000
            75%     420.500000   413.000000  ...   405.750000   414.000000
            max    5388.000000  5278.000000  ...  5335.000000  5367.000000

[8 rows x 5 columns]

In [81]:
#Pandas Operations

In [82]:
import pandas as pd

In [83]:
df = pd.DataFrame({'k1':['A','A','B','B','C','C'],
                      'col1':[100,200,300,300,400,500],
                      'col2':['NY','CA','WA','WA','AK','NV']})

In [84]:
df

  k1  col1 col2
0  A   100   NY
1  A   200   CA
2  B   300   WA
3  B   300   WA
4  C   400   AK
5  C   500   NV

In [85]:
#Getting the information about Unique Values

In [86]:
df['col2'].unique()

array(['NY', 'CA', 'WA', 'AK', 'NV'], dtype=object)

In [87]:
df['col2'].nunique()

5

In [88]:
df['col2'].value_counts()

WA    2
CA    1
NV    1
AK    1
NY    1
Name: col2, dtype: int64

In [89]:
df

  k1  col1 col2
0  A   100   NY
1  A   200   CA
2  B   300   WA
3  B   300   WA
4  C   400   AK
5  C   500   NV

In [90]:
df.drop_duplicates()

  k1  col1 col2
0  A   100   NY
1  A   200   CA
2  B   300   WA
4  C   400   AK
5  C   500   NV

In [91]:
df

  k1  col1 col2
0  A   100   NY
1  A   200   CA
2  B   300   WA
3  B   300   WA
4  C   400   AK
5  C   500   NV

In [92]:
#Creating new columns using Operations

In [93]:
df['New Col'] = df['col1'] * 10 #Creating new column with operation

In [94]:
df

  k1  col1 col2  New Col
0  A   100   NY     1000
1  A   200   CA     2000
2  B   300   WA     3000
3  B   300   WA     3000
4  C   400   AK     4000
5  C   500   NV     5000

In [95]:
#Creating new columns using Functions

In [96]:
def grab_first_letter(state):
  return state[0]

In [97]:
grab_first_letter('NY')

'N'

In [98]:
df['col2'].apply(grab_first_letter)

0    N
1    C
2    W
3    W
4    A
5    N
Name: col2, dtype: object

In [99]:
df['col3'] = df['col2'].apply(grab_first_letter)

In [100]:
df

  k1  col1 col2  New Col col3
0  A   100   NY     1000    N
1  A   200   CA     2000    C
2  B   300   WA     3000    W
3  B   300   WA     3000    W
4  C   400   AK     4000    A
5  C   500   NV     5000    N

In [101]:
df['col1'].apply(grab_first_letter)

TypeError: ignored

In [102]:
#Mapping

In [103]:
df['k1']

0    A
1    A
2    B
3    B
4    C
5    C
Name: k1, dtype: object

In [104]:
df['k1'].map({'A':1,'B':2,'C':3})

0    1
1    1
2    2
3    2
4    3
5    3
Name: k1, dtype: int64

In [105]:
df

  k1  col1 col2  New Col col3
0  A   100   NY     1000    N
1  A   200   CA     2000    C
2  B   300   WA     3000    W
3  B   300   WA     3000    W
4  C   400   AK     4000    A
5  C   500   NV     5000    N

In [106]:
df['col1'].max()

500

In [107]:
df['col1'].min()

100

In [108]:
df['col1'].idxmin()

0

In [109]:
df['col1'].idxmax()

5

In [110]:
#Get colmn and index names

In [111]:
df.columns

Index(['k1', 'col1', 'col2', 'New Col', 'col3'], dtype='object')

In [112]:
df.columns = ['C1','C2','C3','C4','C5']

In [113]:
df

  C1   C2  C3    C4 C5
0  A  100  NY  1000  N
1  A  200  CA  2000  C
2  B  300  WA  3000  W
3  B  300  WA  3000  W
4  C  400  AK  4000  A
5  C  500  NV  5000  N

In [114]:
#Sorting and Ordering

In [115]:
df.sort_values('C3')

  C1   C2  C3    C4 C5
4  C  400  AK  4000  A
1  A  200  CA  2000  C
5  C  500  NV  5000  N
0  A  100  NY  1000  N
2  B  300  WA  3000  W
3  B  300  WA  3000  W

In [116]:
#Concatenating DataFrame

In [117]:
features = pd.DataFrame({
    'A':[100,200,300,400,500],
    'B':[12,13,14,15,16],
    })

In [118]:
features

     A   B
0  100  12
1  200  13
2  300  14
3  400  15
4  500  16

In [119]:
predictions = pd.DataFrame({'pred':[0,1,1,0,1]})

In [120]:
predictions

   pred
0     0
1     1
2     1
3     0
4     1

In [121]:
pd.concat([features, predictions], axis = 1)

     A   B  pred
0  100  12     0
1  200  13     1
2  300  14     1
3  400  15     0
4  500  16     1

In [122]:
#One hot encoding- Creating dummy variables

In [123]:
df

  C1   C2  C3    C4 C5
0  A  100  NY  1000  N
1  A  200  CA  2000  C
2  B  300  WA  3000  W
3  B  300  WA  3000  W
4  C  400  AK  4000  A
5  C  500  NV  5000  N

In [124]:
df['C1']

0    A
1    A
2    B
3    B
4    C
5    C
Name: C1, dtype: object

In [125]:
pd.get_dummies(df['C1'])

   A  B  C
0  1  0  0
1  1  0  0
2  0  1  0
3  0  1  0
4  0  0  1
5  0  0  1

In [126]:
df = pd.get_dummies(df['C1'])

In [127]:
df

   A  B  C
0  1  0  0
1  1  0  0
2  0  1  0
3  0  1  0
4  0  0  1
5  0  0  1